[submodule "ee/insiders"]
    path = ee/insiders
    url = https://<your_github_token>@github.com/karrioapi/karrio-insiders.git

[submodule "ee/platform"]
    path = ee/platform
    url = https://<your_github_token>@github.com/karrioapi/karrio-platform.git
